.SidebarContainer {
    --collapsedWidth: 60px;
    --itemWidth: 300px;
    
    min-height: 100%;
    width: 100%;

    max-width: calc(var(--itemWidth) + var(--collapsedWidth) * 2);

    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    transition: transform 0.5s ease;
}

.SidebarContainer:not(:hover) {
    transform: translateX(calc(-1 * var(--itemWidth)))
}

.SidebarContainer:hover .Sidebar {
    --dragFactor: 0;
}

.Sidebar {
    width: calc(var(--itemWidth) + var(--collapsedWidth));
    height: 100%;



    background-color: #E63946;
    position: relative;
    display: flex;
    flex-direction: row;
}

.Content {
    background-color: var(--bg);
    width: var(--itemWidth);
    height: 100%;
    gap: 3.5rem;
    margin-left: 20%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}

.Content a {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
}

.Content button {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    text-align: left;
    cursor: pointer;
}

.SiderbarBorder {
    position: relative;
    width: var(--collapsedWidth);
    height: 100%;
}

.HamburgerContainer {
    position: absolute;
    height: 600px;
    width: 100%;
    left: -1px;

    transform: translateY(-50%) translateX(calc(var(--dragFactor) * 100%));
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HamburgerContainer img {
    image-rendering: pixelated;
}

.Blob {
    position: absolute;
    right: 0;
    width: calc(var(--dragFactor) * 100%);
    height: 100%;
    z-index: -1;
}